.patient-info-container{
    background-color: #f0f5f7;
    padding:125px 250px;
    height:100%;
}
.patient-form{
    background-color: white;
    padding:20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.patient-info-box{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    padding:0px 0px 40px 0px;
    background-color: white;
}
.patient-info-title{
    align-self: center;
    font-size:30px; 
    font-weight:600;
}
.left-patient-info-form{
    border-right: 1px solid rgba(0, 0, 0, 0.308);
    padding:20px 80px;
}
.right-patient-info-form{
    padding:0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.images img, .image-text span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 15px;
    font-weight:600;
}
.images img{
    margin:40px 0px;
}

.form-input{
    margin-left:30px;
    border:none;
    padding:5px 10px;
    outline:none;
    border-bottom: 1px solid #8c8d8d77;
    background-color: #faf8f8;
    font-family:'Titillium Web', sans-serif;
}
form span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:40px;
}
input{
    width:158px;
}
select{
    width:180px;
}
.back{
    border:none;
    text-decoration: none;
    outline:none;
    padding:8px 20px;
    background-color:#6AC6C4;
    color:white;
    font-family: 'Titillium Web', sans-serif;
    font-size:18px;
    font-weight:600;
    border-radius: 50px;
    position:relative;
    left:400px;
    top:-40px;
}
.back:hover{
    background-color: #35B680;
}
