body{
    margin:0;
    padding:0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    height:100%;
}
a{
    color: inherit;
    text-decoration: none;
}


/* input box */
input {
    border:none;
    border-bottom: 1px solid #343937;
    padding: 5px 10px;
    outline: none;
 }

/* Input */
input,textarea,select{
    border:0;
    outline: none;
    border-bottom: 2px solid #6AC6C4;
    font-size: 20px;
    background-color: #F0F5F7;
}
input:focus,textarea:focus,select:focus{
    outline: none;
    border: 2px solid #6AC6C4;
    border-radius: 10px;
}

/* Links */
a,a:hover{
    text-decoration: none;
    /* color: inherit; */
}

.active{
    color: #9ad4d3;
}

/* Rating */
.checked{
    color: orange;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
    background: #F0F5F7;   
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px; 
    background-color:#7f807f;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #6AC6C4;
}

/* Buttons */
.button{
    background-color:#6AC6C4;
    border-radius: 50px;
    padding:8px 20px;
    color: white;
    text-decoration: none;
    border: none;
    
}
.button:hover{
    background-color: #35B680;
    /* box-shadow: 0 12px 16px 0 rgba(138, 137, 137, 0.24), 0 17px 50px 0 rgba(134, 134, 134, 0.19); */
}

/* Heading for Gabriela */
.heading{
    font-family: 'Gabriela', serif;
    padding: 20px;
}

/* Titles */
.title p{
    font-size: x-large;
    font-weight: bolder;
}


/* Doctor Home Page */

/* Navigation */
.navigation{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 70px;
    background-color: #343937;
    color: white;
    padding:0 25px 0 25px;
}
.drop{
    padding-right: 60px;
}
.links a{
    padding-right: 30px;
}
.links a:hover{
    color: rgb(172, 172, 172);
    text-decoration: none;
}
.links{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.logo{
    font-family:'Georgia', 'Times New Roman', Times, serif;
    font-size:40px;
}


/* DOC */
.doc{
    background-color: #343937;
    text-align: center;
    height: 100%;
}
.doc img{
    margin-top: 30px;
    
}
.quote{
    color: white;
    line-height: 1.8;
    margin-top: 30px;
    font-family: 'Gabriela', serif;
}

/* STAT */
.patients{
    background-color: #F0F5F7;
    font-size: 20px;    
}
.stat h1{
    font-family: 'Gabriela', serif;
    padding: 15px;
    
}
.line{
    text-align: center;
}
.rem{
    background-color: white;
    margin-bottom:25px;
}
@media screen and (max-width: 800px) {
    .left,.middle,.right{
      background-color: bisque;
    }
  }

/* Patients  */

/* Patients' list */
.list{
    background-color: #343937;
    overflow: auto;
    text-align: center;
    height:550px;
    border-radius: 5px;
}
.patient{
    width:250px;
    margin:15px;
    background-color: #343937;
}
.patient:focus{
    background-color: #6AC6C4;
}

/* Patients' details */
.details{
    padding-left: 40px;
    background-color: #F0F5F7;    
}
.latest{    
    overflow:auto;
    height:220px;
    background-color: rgb(255, 255, 255);
}
.diagnostics{
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 5px; 
    height:480px;
    overflow:auto ;
}
.diagnostics a{
    margin: 5px;
    text-decoration: none;
}
.diagnostics button{
    background-color: #F0F5F7;
}


/* Profile */
.profile{
    background-color: #F0F5F7;
    margin:30px;
    padding:20px ;
    font-size: 10px;
}

.pic img{
    width:250px;
    height:250px;
    padding: 10px;
    border:2px solid #F0F5F7;
    border-radius: 150px;
}
.pic{
    margin-bottom: 180px;
}

.profile .col-sm-4{
    text-align: center;
}

.profile .update{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.check td{
    padding-right:30px ;
}


/* Footer */
.footer{
    background-color: #343937;
    color:white;
    display:flex;
    justify-content: space-evenly;
    padding:30px;
    align-items: center;
}
.footer div{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.footer a:hover{
    color:#7f807f;
    text-decoration: none;
}
.footer-title{
    font-size:25px;
    font-weight:bold;
}
.footer span{
    margin-bottom:10px;
}
.footer img{
    width:40px;
    height:40px;
    margin-right:40px;
}



/* Upcoming Appointments */
.container{
    background-color: #F0F5F7;
    padding:30px;
}
.container table{
    overflow: auto;
}

.accept{
    background-color:#35B680;
    border-radius: 50px;
    padding:5px 17px;
    color: white;
    text-decoration: none;
    border: none;
    
}
.accept:hover{
    background-color: #2d8f66;
    /* box-shadow: 0 12px 16px 0 rgba(138, 137, 137, 0.24), 0 17px 50px 0 rgba(134, 134, 134, 0.19); */
}

.cancel{
    background-color:#b64f35;
    border-radius: 50px;
    padding:5px 17px;
    color: white;
    text-decoration: none;
    border: none;
    
}
.cancel:hover{
    background-color: #6e3924;
    /* box-shadow: 0 12px 16px 0 rgba(138, 137, 137, 0.24), 0 17px 50px 0 rgba(134, 134, 134, 0.19); */
}


/* Prescription */
.add_medication{
    display: none;
}