/* body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    font-size:18px;
    overflow-x: hidden;
} */
/* a{
    color:inherit;
    text-decoration:none;
} */
body{
	margin:0;
	padding:0;
	font-family: 'Urbanist', sans-serif;
	align-items:center;
}
a{
	color:inherit;
	text-decoration:none;
}

.body-container{
	margin:90px 120px;
	background-color:#c2a0c2;
	display:flex;
	justify-content:space-between;
}
.left{
	padding:3% 5%;
	width:30%;
    margin:30px;
    
}
.below-pic{
	margin-top:40px;
    text-align:center;
    font-family:'Roboto Slab', serif;
    
}
.right{
	background-color:white;
	display:flex;
	justify-content:center;
	color:black;
	padding:30px;
	width:50%;
}
.signup-header{
	font-size:23px;
}

.signup-box{
	margin-top:70px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.signup{
	font-size:23px;
	font-weight:600;
	font-family: 'Gabriela', serif;
}
.signup-form span{
	display:flex;
	justify-content:space-between;
	align-items: center;
	margin-bottom: 10px;
}

.form-input,.form-control{
	border:none;
	text-decoration:none;
	outline:none;
	border-bottom:1px solid black;
	padding:10px;
	margin-left:10px;
}

.signup-btn{
	border:none;
	font-family: 'Roboto Slab', serif;
	border-radius:50px;
	background-color: #624379;
	color:white;
	font-size:13px;
	padding:8px 15px;
    margin-left:100px;
    
}
select{
	width:200px;
}
.p-viewer {
	z-index: 9999;
	/* position: absolute; */
	left:1010px;
	margin-top: -35px;
}

.fa-eye {
	color: #000;
}