/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
 font-family: 'Titillium Web', sans-serif;
 font-family:'Georgia', 'Times New Roman', Times, serif;
 font-family: 'Open Sans', sans-serif;*/
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    font-size:18px;
    overflow-x: hidden;
}
a{
    color:inherit;
    text-decoration:none;
}
.nav{
    background-color: #343937;
    height:60px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    color:white;
    padding-right:80px;
    padding-left:80px;
    width:90%;
    z-index:10;
}
.active{
    color:#6AC6C4;
}
.logo{
    font-family:'Georgia', 'Times New Roman', Times, serif;
    font-size:40px;
}
.nav-items span{
    margin-right:30px;
}
.nav-items a:hover{
    color:rgb(158, 158, 158);
    text-decoration: none;
}
.fa-chevron-down{
    font-size:10px;
    margin-right:10px;
}
.logout-btn{
    border:none;
    text-decoration: none;
    outline:none;
    padding:8px 20px;
    background-color:#6AC6C4;
    color:white;
    font-family: 'Titillium Web', sans-serif;
    font-size:18px;
    font-weight:600;
    border-radius: 50px;
}
.logout-btn:hover{
    background-color: #35B680;
    color:white;
    text-decoration: none;
}
.body-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 220px 30px 220px;
    padding-top:100px;
}
.left{
    padding:15px;
    line-height:50px;
    font-family: 'Open Sans', sans-serif;
}
.heading{
    font-size:50px;
    font-weight:500;
    margin-bottom:30px;
}
.heading span{
    font-weight:800;
}
.rob-points{
    padding-right:90px;
    padding-left:30px;
}
.rob-points span{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.right{
    border:1px solid #b9b8b8;
    width:500px;
    height:600px;
    padding:1px;
    overflow-y:scroll;
    overflow-x: hidden;
    border-radius: 4px;
}
.topbar{
    height:30px;
    position:-webkit-sticky;
    background-color: #4f5855;
    color:white;
    padding-left:8px;
    border-top-left-radius:4px;
    border-top-right-radius: 4px;
}
.chatbox{
    padding:0 1px 10px 1px;
}
.botcontent{
    padding:5px;
    text-align:left;
    align-items: center;
}
.botcontent .text-content{
    background-color: #F4F4F4;
    padding: 5px;
    margin-bottom:10px;
    font-size:15px;
    width:350px;
    border-radius: 4px;
}

.usercontent{
    align-items: center;
    text-align: right;
    padding:5px;
}
.usercontent .text-content{
    background-color: #76857F;
    padding: 5px;
    color:white;
    margin-bottom:10px;
    font-size:15px;
    width:350px;
    border-radius: 4px;
}
.user-types{
    font-size:15px;
    margin:5px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.text-area{
    background-color: #e9e9e9;
    width:90%;
}
.placeholder{
    border: none;
    padding:5px;
    background-color:#e9e9e9;
    font-family: 'Titillium Web', sans-serif;
}
.text-area input:focus{
    border:none;
    outline:none;
}
.bot-line{
    font-size:12px;
    opacity:0.5;
    align-items:center;
    width:100%;
    margin:5px;
}
.user-line{
    font-size:12px;
    opacity:0.5;
    align-items:center;
    width:100%;
    margin:5px;
}
.send{
    border:none;
    outline:none;
    background-color: white;
}

.consult-doctors{
    background-color: #f0f5f7;
    padding:50px;
    font-weight:600;
    font-size:30px;
}
.line{
    height:2px;
    width:70px;
    background-color:black;
    margin:20px 0px;
}
.topics{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    font-size:15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.circle{
    background-color: white;
    height:50px;
    width:50px;
    border-radius: 50px 50px;
    padding:23px;
}
.category div{
    margin-bottom:15px;
}
.category-title{
    font-size:18px;
}
.consult-now{
    color:#6ac6c4;
    font-weight:800;
}
.consult-doctor-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.consult-now:hover{
    color:#397473;
}
.customers{
    background-color: #102034;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding:50px;
    font-size: 20px;
    color:white;
}
.customer-title{
    font-family:'Montserrat', sans-serif;;
    font-size:30px;
    font-weight: 800;
}
.medical-records{
    display:flex;
    justify-content: space-between;
    padding:100px 300px;
    font-size:30px;
}
.medical-records-title{
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
}
.medical-records-subtitle{
    font-size:25px;
    font-weight:800;
    font-family: 'Open Sans', sans-serif;
}
.medical-records-para img{
     margin-right:30px;
}
.medical-records-para{
    font-size:20px;
}
.footer{
    background-color: #343937;
    color:white;
    display:flex;
    justify-content: space-evenly;
    padding:100px;
    align-items: center;
}
.footer div{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.footer-title{
    font-size:30px;
    font-weight:bold;
}
.footer span{
    margin-bottom:10px;
}
.footer img{
    width:40px;
    height:40px;
    margin-right:40px;
}

  /* for scollbar in webpage */
  ::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(139, 137, 137); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #343937;
  }

