<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabriela&family=Montserrat:wght@300&family=Open+Sans&family=Titillium+Web:wght@300&family=Urbanist:wght@200&display=swap&family=Roboto+Slab&display=swap" rel="stylesheet">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Doctor_home.css') }}">

</head>
<body>
    <header>
        <div class="navigation">
            <div class="logo">WE4U</div>
            <div class="links">      
                <span><a href="{{ url_for('Doctor_Home',id=id,name=name) }}" class="active">Home</a></span>             
                <span><a href="#">Upcoming</a></span>
                <span><a href="{{ url_for('Patients',id=id,name=name) }}">Patients</a></span>
                <span><a href="#">Payment</a></span>
                <span><a href="#">History</a></span>
                <span><a href="{{ url_for('Profile',id=id,name=name) }}" >Profile</a></span>               
                <button class="button" href="{{ url_for('Logout') }}">Logout</button>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 doc">
                <img src="{{ url_for('static', filename='images/doc.png') }}">
                <h1 class="quote">I am Commited to <br>People's Health<hr></h1>
            </div>
            <div class="col-sm-8 stat">
                <div class="rem">
                    <h1>Hi {{name}}</h1>
                    <span class="line">
                        <h2>You have <span style="color: rgb(206, 96, 96);">10 patients</span> remaining today!</h2>
                    </span>
                </div>
                <div class="patients">
                    <h1>Today's Appointments</h1>
                    <div class="row">
                        <div class="col-sm-4">
                            <h1 style="text-align: center;font-size: 60px;font-family: 'Titillium Web', sans-serif;">10</h1>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-5 left"><h2>Consultation</h2></div>
                                <div class="col-sm-3 middle"><h2>5</h2></div>
                                <div class="col-sm-4 right"><h2><a href="#">View All</a></h2></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 left"><h2>Appointment</h2></div>
                                <div class="col-sm-3 middle"><h2>5</h2></div>
                                <div class="col-sm-4 right"><h2><a href="#">View All</a></h2></div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row" style="text-align: center;padding-bottom: 20px;">
                        <div class="col-sm-8 left">
                            <h2 >
                                <span style="color: rgb(107, 172, 121);">5 patients</span> are waiting to get  
                                <span style="color: rgb(206, 96, 96);"> Instant Consultation </span>
                            </h2>
                        </div>
                        <div class="col-sm-4 right" ><h2>&emsp;<a href="#">View All</a></h2></div>
                    </div>
                    
                </div>                
            </div>
        </div>
    </div>
</body>
</html>