<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans&family=Titillium+Web:wght@200&family=Urbanist:wght@200&display=swap&family=Roboto+Slab&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/login.css">
        <style>
            body {
              background-color: #cb997e;
            }
            </style>
    </head>
	<body>
		<div class="body-container">
			<div class = "left">
				<span class="nature-img"><img src = "..\static\images\login.png" height = "300px" width="300px"></span>
				<div class="below-pic">
					"YOUR HEALTH MATTERS"<br>WE4U<br>
				</div>
			</div>
			<div class="right">
				<div class="signup-container">
					<div class="signup-box">
						<span class="signup">SIGN IN</span>
					</div>
					<div class="signup-form">
						<form >
							<label for = "email" class="email">Email:</label>
							<input type="text" name="email" placeholder="Enter email" class="form-input">
							<br><br>
							<label for = "password" class="password">Password:</label>
                            <span><input type="password" name="password" id="myInput" class="form-input" placeholder="Enter Password">
                                <span class="p-viewer">
                                    <img src="../static/images/view.png" id="myInputicon" onclick="myFunction()" height="20px" width="20px">
                                </span>
                            </span>
                            <br>
                            
                            <!-- <i class="far fa-eye" id="myInput" style="margin-left:100px"onclick="myFunction()">&emsp;Show Password</i> -->
                            <script>
                            function myFunction() {
                            var x = document.getElementById("myInput");
                            
                            if (x.type === "password") {
                                x.type = "text";
                                document.getElementById("myInputicon").setAttribute("src","../static/images/hidden.png");
                            } else {
                                x.type = "password";
                                document.getElementById("myInputicon").setAttribute("src","../static/images/view.png");
                            }
                            }
                            </script>
                            </div>
                            <h8>Forgot Password?</h8>
                            <br>
                            <br>
                            <button type="submit" name="signup" class="form-input signup-btn" >Sign In</button>
                            <br>
                            <br>
                            <h7>New member?<a  href ="#">Register Here</a></h7> 
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>