<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Register</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans&family=Titillium+Web:wght@200&family=Urbanist:wght@200&display=swap&family=Roboto+Slab&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/Patient_register.css">
        <style>
            body {
              background-color: #84a59d;
            }
        </style>
    </head>
	<body>
		<div class="body-container">
			<div class = "left">
				<span class="nature-img"><img src = "../static/images/doctor.png" height = "300px" width="300px"></span>
				<div class="below-pic">
					"YOUR HEALTH MATTERS"<br>WE4U
                    <br><br>
                    <div>Already a member? <a href="#">Login</a></div>
				</div>
			</div>
			<div class="right">
				<div class="signup-container">
					<div class="signup-box">
						<span class="signup">SIGNUP</span>
					</div>
                    {% with messages=get_flashed_messages() %} 
                        {% if messages %} 
                            {% for message in messages %} 
                            <div class="alert alert-danger alert-dismissible">
                              <button type="button" class="close" data-dismiss="alert">&times;</button>
                              <strong> {{ message }} </strong> 
                            </div>
                            {% endfor %} 
                        {% endif %} 
                      {% endwith %} 
					<div class="signup-form">
						<form action="{{ url_for('Patient_register') }}" method="POST">
							<span>
                                <label for = "username" class="username">UserName:</label>
                                <input type="text" name="username" placeholder="Enter user name" class="form-input">
                            </span>
							<span>
                                <label for = "email" class="email">Email:</label>
                                <input type="text" name="email" placeholder="Enter email" class="form-input">
                            </span>
							<span>
                                <label for = "password" class="password">Password:</label>
                                <input type="password" name="password" id="myInput" class="form-input" placeholder="Enter Password" style="width:170px">
                                <img src="../static/images/view.png" id="myInputicon" onclick="myFunction()" height="20px" width="20px">
                            </span>
                            
                            <!-- <i class="far fa-eye" id="myInput" style="margin-left:100px"onclick="myFunction()">&emsp;Show Password</i> -->
                            <script>
                            function myFunction() {
                            var x = document.getElementById("myInput");
                            
                            if (x.type === "password") {
                                x.type = "text";
                                document.getElementById("myInputicon").setAttribute("src","../static/images/hidden.png");
                            } else {
                                x.type = "password";
                                document.getElementById("myInputicon").setAttribute("src","../static/images/view.png");
                            }
                            }
                            </script>
                            <span>
                                <label for = "mobileno" class="mobileno">Mobileno:</label>
                                <input type="text" name="mobileno" placeholder="Enter mobile no" class="form-input">
                            </span>
                            <span>
                                <label for = "age" class="age">Age:</label>
                                <input type="text" name="age" placeholder="Enter age" class="form-input">
                            </span>
                            <span>
                                <label for = "gender" class = "lbl"> Gender: </label>
                                &emsp;&emsp;&emsp;<input type="Radio" name="Gender" Value="Male" class="lbl">Male
                                &emsp;<input type="Radio" name="Gender" Value="Female" class="lbl">Female
                            </span>
                            
                            <span>
                                <label for="state">State:</label>
                                <select class="form-input" id="state"name="State"  required> 
                                    <option value="SelectState"> Select States</option>
                                    <option value="Andra Pradesh">Andra Pradesh</option>
                                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                    <option value="Assam">Assam</option>
                                    <option value="Bihar">Bihar</option>
                                    <option value="Chhattisgarh">Chhattisgarh</option>
                                    <option value="Goa">Goa</option>
                                    <option value="Gujarat">Gujarat</option>
                                    <option value="Haryana">Haryana</option>
                                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                    <option value="Jharkhand">Jharkhand</option>
                                    <option value="Karnataka">Karnataka</option>
                                    <option value="Kerala">Kerala</option>
                                    <option value="Madya Pradesh">Madya Pradesh</option>
                                    <option value="Maharashtra">Maharashtra</option>
                                    <option value="Manipur">Manipur</option>
                                    <option value="Meghalaya">Meghalaya</option>
                                    <option value="Mizoram">Mizoram</option>
                                    <option value="Nagaland">Nagaland</option>
                                    <option value="Orissa">Orissa</option>
                                    <option value="Punjab">Punjab</option>
                                    <option value="Rajasthan">Rajasthan</option>
                                    <option value="Sikkim">Sikkim</option>
                                    <option value="Tamil Nadu">Tamil Nadu</option>
                                    <option value="Telangana">Telangana</option>
                                    <option value="Tripura">Tripura</option>
                                    <option value="Uttaranchal">Uttaranchal</option>
                                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                                    <option value="West Bengal">West Bengal</option>
                                    <option disabled style="background-color:#aaa; color:#fff">UNION Territories</option>
                                    <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                    <option value="Chandigarh">Chandigarh</option>
                                    <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                    <option value="Daman and Diu">Daman and Diu</option>
                                    <option value="Delhi">Delhi</option>
                                    <option value="Lakshadeep">Lakshadeep</option>
                                    <option value="Pondicherry">Pondicherry</option>
                                </select>
                            </span>
                            <span>
                                <label for="district">District</label>
                                <select  class="form-input" id="district"  name="District" required>
                                    <option value="">Select District</option>
                                </select>
                            </span>
							<button type="submit" name="signup" class="form-input signup-btn" >Signup</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
    <!-- plugin for jquery validation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"> </script>
    
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- link for jquery validation -->
    <script src = "{{('/static/jquery/web.js')}}"> </script>
</html>